{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron bg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="display-4 text-white">You have been logged out</h2>
                <div class="form-group">

                <div class="checkbox">
                    <a href="{% url 'login' %}" > <strong>Log In Again</strong> </a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}